body {
	font-family: Poppins, sans-serif;
	font-size: 14px;
	margin: 0;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	margin: 10px 0;
}
.wrapper {
	max-width: 1180px;
	width: 100%;
	padding: 15px;
	margin: 0 auto;
}
small {
	display: block;
}
.select-chart {
	text-align: center;
}
p {
	margin-top: 0;
	margin-bottom: 5px;
}
.button-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
button {
	border: 0;
    background-color: #c4dcf3;
    padding: 10px;
    font-family: 'Poppins';
    border-radius: 2px;
    min-width: 55px;
}
button:first-child {
	margin-right: 5px;
}
.btnActive {
	background-color: #7cb5ec;
}